<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
    }

    nav {
      background-color: #444;
      color: white;
      text-align: center;
      padding: 10px;
    }
    a{
      color: white;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    nav ul li {
      display: inline;
      margin-right: 20px;
    }

    .form-container {
      width: 60%;
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-group input {
      width: calc(100% - 12px);
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .form-group textarea {
      width: calc(100% - 12px);
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    .form-group textarea:focus,
    .form-group input:focus {
      outline: none;
      border-color: #555;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>

  <header>
    <h1>Edit Blog</h1>
  </header>

  <%- include("components/navbar")%>

  <div class="form-container">
    <form action="/EditBlog/<%- blog[0].id %>" method="post">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text"  value ="<%- blog[0].title %>" id="title" name="title" placeholder="Enter title" required>
      </div>

      <div class="form-group">
        <label for="subtitle">Subtitle:</label>
        <input type="text" value ="<%- blog[0].subTitle %>" id="subtitle" name="subTitle" placeholder="Enter subtitle" required>

      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" placeholder="Enter description" rows="5" required>
            <%- blog[0].description %>
        </textarea>
      </div>

      <button type="submit" >Submit</button>
      <button><a href="/" >Cancel</a></button>
    </form>
  </div>

  <%-include('components/footer') %>

</body>
</html>
